
@import "tailwindcss";
* {
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  font-family: "Inter", system-ui, sans-serif;
  color: #131720;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

/* ✅ Jaha Playfair chahiye (headings) */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}
